@page "/login"
<PageTitle>Login</PageTitle>

@{

    var providers = new Dictionary<string, string>
    {
        {"github", "GitHub" },
        {"twitter", "Twitter" },
        {"google", "Google" }

    };
}

<h1>Login</h1>

<div class="d-grid gap-2">
    @foreach (var provider in providers)
        {
            <div>
                <a class="btn btn-lg btn-primary col-6" href="/.auth/login/@provider.Key" role="button">
                    @*<span class="fab fa-fa@provider.Key"></span>*@
                    <iconify-icon icon="devicon:@provider.Key"></iconify-icon>
                    Sign in with @provider.Value

                </a>
            </div>
}
</div>