@typeparam TItem
<br />
<h3>@Title</h3>
<table class="table table-striped">
    <thead>
        <tr>
            @HeaderTemplate
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Items)
        {
            <tr>
                @RowTemplate(item)
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            @FooterTemplate
        </tr>
    </tfoot>
</table>
@code {
    [Parameter]
    public string Title {get; set;}

    [Parameter]
    public RenderFragment HeaderTemplate {get; set;}

    [Parameter]
    public RenderFragment<TItem> RowTemplate {get; set;}
    
    [Parameter]
    public RenderFragment FooterTemplate {get; set;}

    [Parameter]
    public IReadOnlyList<TItem> Items {get; set;}
}